<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
 
<p>
  <strong>Author:</strong>
  <%= @book.text %>
</p>

<p>
  <strong>Edition Year:</strong>
  <%= @book.text %>
</p>

<%= link_to 'Back', books_path %>
<%= link_to 'Edit', edit_book_path(@book) %>